{% extends 'base.html' %}

{% load static %}

{% block head_title %}
Department of Infrastucture, Ports, Energy and Transport
{% endblock head_title %}



{% block content %}
<div class="w-100 m-0 p-0">
    <div class="mb-5">
        <div id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img height="300" src="{% static 'images/img.jpg'%}"
                        class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img height="300" src="{% static 'images/img1.jpg'%}"
                        class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img height="300" src="{% static 'images/img2.jpg'%}"
                        class="d-block w-100"
                        alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <p class="fs-6 fw-bold text-">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Excepturi
            sunt labore fugiat impedit magnam iusto consequatur deleniti iure
            tenetur provident sapiente aliquid sed fugit, facere nulla alias
            nam distinctio similique. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Accusamus delectus autem et eius voluptate unde,
            molestiae ipsum inventore incidunt minima nostrum qui quibusdam,
            deserunt quo, asperiores reiciendis ex ipsam vitae!</p>
        <br><br>
        <div class="d-flex justify-content-around">
            <div>
                <div class="bg-dark rounded-circle"
                    style="height: 8rem; width:8rem;"></div><br><span>Lorem,
                    ipsum.</span>
            </div>
            <div>
                <div class="bg-dark rounded-circle"
                    style="height: 8rem; width:8rem;"></div>
                <br><span>Lorem,
                    ipsum.</span>
            </div>
            <div>
                <div class="bg-dark rounded-circle"
                    style="height: 8rem; width:8rem;"></div>
                <br><span>Lorem,
                    ipsum.</span>
            </div>
            <div>
                <div class="bg-dark rounded-circle"
                    style="height: 8rem; width:8rem;"></div>
                <br><span>Lorem,
                    ipsum.</span>
            </div>
        </div>
    </div>
    <br><br>
    <div class="w-100 bg-light my-5">
        <div class="container">
            <div class="col-lg-8 mx-auto p-5">
            <h1>News</h1><br>
                <div class="row shadow mb-3">
                    <div class="col p-5">
                        <p class="fw-bold">Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Aliquid quis at fuga aliquam, fugit natus,
                            doloribus
                            nam beatae nemo, ipsum placeat eum dolores totam
                            ducimus sunt ab quae tempora voluptatum.</p>
                    </div>
                    <div class="col-lg-3">
                        <img width="200" src="{% static 'images/v-img.jpg'%}" alt="">
                    </div>
                </div>
                <div class="row shadow mb-3">
                    <div class="col p-5">
                        <p class="fw-bold">Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Aliquid quis at fuga aliquam, fugit natus,
                            doloribus
                            nam beatae nemo, ipsum placeat eum dolores totam
                            ducimus sunt ab quae tempora voluptatum.</p>
                    </div>
                    <div class="col-lg-3">
                        <img width="200" src="{% static 'images/v-img1.jpg'%}" alt="">
                    </div>
                </div>
                <div class="row shadow mb-3">
                    <div class="col p-5">
                        <p class="fw-bold">Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Aliquid quis at fuga aliquam, fugit natus,
                            doloribus
                            nam beatae nemo, ipsum placeat eum dolores totam
                            ducimus sunt ab quae tempora voluptatum.</p>
                    </div>
                    <div class="col-lg-3">
                        <img width="200" src="{% static 'images/v-img2.jpg'%}" alt="">
                    </div>
                </div>
                <a class="float-end text-dark" href="">More...</a>
            </div>
            <div class="col-lg-8 mx-auto p-5">
            <h1>Projects</h1><br>
                <div class="row shadow mb-3">
                    <div class="col p-5">
                        <p class="fw-bold">Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Aliquid quis at fuga aliquam, fugit natus,
                            doloribus
                            nam beatae nemo, ipsum placeat eum dolores totam
                            ducimus sunt ab quae tempora voluptatum.</p>
                    </div>
                    <div class="col-lg-3">
                        <img width="200" src="{% static 'images/v-img.jpg'%}" alt="">
                    </div>
                </div>
                <div class="row shadow mb-3">
                    <div class="col p-5">
                        <p class="fw-bold">Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Aliquid quis at fuga aliquam, fugit natus,
                            doloribus
                            nam beatae nemo, ipsum placeat eum dolores totam
                            ducimus sunt ab quae tempora voluptatum.</p>
                    </div>
                    <div class="col-lg-3">
                        <img width="200" src="{% static 'images/v-img1.jpg'%}" alt="">
                    </div>
                </div>
                <div class="row shadow mb-3">
                    <div class="col p-5">
                        <p class="fw-bold">Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Aliquid quis at fuga aliquam, fugit natus,
                            doloribus
                            nam beatae nemo, ipsum placeat eum dolores totam
                            ducimus sunt ab quae tempora voluptatum.</p>
                    </div>
                    <div class="col-lg-3">
                        <img width="200" src="{% static 'images/v-img2.jpg'%}" alt="">
                    </div>
                </div>
                <a class="float-end" href="">More...</a>

            </div>
        </div>
    </div>


</div>
{% endblock content %}